.wrapper {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  .container {
    padding: 0rem 2rem 0rem 150px;
    .logoContainer {
      height: 51px;
      width: 80%;
      align-self: stretch;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .logo {
        width: 90px;
        height: 36px;
        justify-self: unset;
      }
      .close {
        width: 44px;
        height: 44px;
        position: absolute;
        left: 20px;
      }
    }
    .ul {
      margin: 1rem 0;
      padding: 0;
      li {
        list-style: none;
        margin: 1.8rem 0;
        :hover {
          border-bottom: 1px solid #000;
        }
        a {
          text-decoration: none;
          font-family: "Noto IKEA", "Noto Sans", "Roboto", "Open Sans",
            system-ui, sans-serif !important;
          color: #000;
          font-size: 36px;
          font-weight: 700;
        }
      }
    }
    .ul2 {
      margin: 1rem 0;
      padding: 0;
      li {
        list-style: none;
        margin: 1rem 0;
        :hover {
          border-bottom: 1px solid #000;
        }
        a {
          text-decoration: none;
          font-family: "Noto IKEA", "Noto Sans", "Roboto", "Open Sans",
            system-ui, sans-serif !important;
          color: #000;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
    button {
      background-color: #fff;
      background-image: url("https://img.icons8.com/ios/50/000000/geography.png");
      background-position: 1em 0.5em;
      background-repeat: no-repeat;
      background-size: 2em;
      display: inline-block;
      color: #484848;
      padding: 0.625rem 1.25rem 0.625rem 2.5rem;
      border-radius: 20px;
      border: 1px solid #dfdfdf;
      font-size: 0.75rem;
      font-weight: 700;
      line-height: 1.5;
      white-space: nowrap;
      text-decoration: none;
      cursor: pointer;
      opacity: 0.8;
      &:hover {
        border: 1px solid #000;
        opacity: 1;
        font-weight: 700;
        color: #000;
      }
    }
  }
}
