.wrapper {
  display: flex;
  flex-direction: column;
  .container {
    padding: 2rem;
    .logoContainer {
      height: 51px;
      width: 80%;
      align-self: stretch;
      display: flex;
      justify-content: flex-start;
      padding: 0.5rem;
      align-items: center;
      .logo {
        width: 90px;
        height: 36px;
        justify-self: unset;
        margin: 1rem;
      }
      .close {
        width: 44px;
        height: 44px;
        position: absolute;
        left:20px
      }

    }
  }
  .ul{
    margin: 0 ;
    padding: 0;
    li{
      list-style: none;
      a{
        text-decoration: none;
        font-family: 'Noto IKEA', 'Noto Sans', 'Roboto', 'Open Sans', system-ui, sans-serif !important;
        color:#000;
        font-size: 36px;
        font-weight: 700;
      }
    }
  }
}
